{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
    
    {% if list_type == 'ol' %}
        <ol>
            <li>Инженер-исследователь</li>
            <li>Пилот</li>
            <li>Строитель</li>
            <li>Экзобиолог</li>
            <li>Врач</li>
            <li>Инженер по терраформированию</li>
            <li>Климатолог</li>
            <li>Специалист по радиационной защите</li>
            <li>Астрогеолог</li>
            <li>Гляциолог</li>
            <li>Инженер жизнеобеспечения</li>
            <li>Метеоролог</li>
            <li>Оператор марсохода</li>
            <li>Водитель-испытатель</li>
        </ol>
    {% elif list_type == 'ul' %}
        <ul>
            <li>Инженер-исследователь</li>
            <li>Пилот</li>
            <li>Строитель</li>
            <li>Экзобиолог</li>
            <li>Врач</li>
            <li>Инженер по терраформированию</li>
            <li>Климатолог</li>
            <li>Специалист по радиационной защите</li>
            <li>Астрогеолог</li>
            <li>Гляциолог</li>
            <li>Инженер жизнеобеспечения</li>
            <li>Оператор марсохода</li>
            <li>Водитель-испытатель</li>
        </ul>
    {% endif %}
{% endblock %}